html {
  --text-color: #7f7b82;
  --bg: #fff;
}

html[data-theme="dark"] {
  --text-color: #fff;
  --bg: #000;
}

.main {
  font-family: Rubik !important;
  background-color: var(--bg);
  color: var(--text-color);
}

.btn-main {
  border: 2px solid #fff;
  color: white;
  background-color: #b75d69;
  font-size: 1.2rem !important;
}

.ls {
  color: var(--text-color);
}

.about {
  color: var(--text-color);
  transform: rotate(-90deg);
  top: 300px;
  left: 100px;
  z-index: 3;
}

.contact {
  color: var(--text-color);
  transform: rotate(-270deg);
  top: 300px;
  right: 65px;
  z-index: 3;
}

.card {
  background-color: #cbd9d5 !important;
  width: 475px;
  height: 490px;
  transition: 0.4s ease-out;
  cursor: pointer;
}

.card .img-1 {
  width: 100%;
  height: auto;
  align-self: center;
  padding: 30px;
  margin-bottom: 100px;
}

.card .img-2 {
  width: 100%;
  height: auto;
  align-self: center;
  padding: 30px;
  margin-top: 100px;
}

.card .card-header1 {
  text-align: center;
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  color: #f4f4f4;
  background-color: rgba(68, 69, 83, 0.28) !important;
}

.card .card-header2 {
  text-align: center;
  position: absolute;
  top: 0px;
  height: 100px;
  width: 100%;
  font-size: 34px;
  font-weight: 300;
  color: #f4f4f4;
  background-color: rgba(68, 69, 83, 0.28) !important;
}

.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(41, 39, 39, 0.6));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
}

.card .info-1 {
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translateY(55px);
  left: 25%;
  z-index: 3;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover .info-1 {
  opacity: 1;
  transform: translateY(-100px);
}

.card .info-2 {
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translateY(-250px);
  left: 25%;
  z-index: 3;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover .info-2 {
  opacity: 1;
  transform: translateY(-65px);
}

input {
  appearance: none;
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: #7f7b82;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

input:checked ~ .check {
  background: #fff;
}

.check:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
}

input:checked ~ .check::before {
  transform: translateX(-50px);
}

.check:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  background: #7f7b82;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(50px);
}

input:checked ~ .check::after {
  transform: translateX(0px);
}
/*# sourceMappingURL=style.css.map */